
%btn--reset {
  @extend %font--default;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-size: 1em;
  padding: 0;

  &:focus {
    outline: none;
  }

}

.btn {
  @extend %btn--reset;
}

.btn--join {
  @include border-radius(4px);
  @include transition(color 170ms ease-in-out, background-color 170ms ease-in-out);
  display: inline-block;
  font-size: 16px;
  color: #fff;
  border: 2px solid #fff;
  padding: 16px 23px;

  &:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
  }

  &.islander {
    background-color: #ffffff;
    border-color: #f47d31;
    color: #f47d31;
  }

}


.btn--social {
  @include border-radius(50%);
  @include transition(opacity 170ms ease-in-out);
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #ffffff;
  color: #CCDC9B;

  &.islander {
    background-color: #f47d31;
    color: #ffffff;
  }

}

.btn--submit {
  background-color: #272727;
  font-size: 16px;
  padding: 16px 30px;

  .busy {
    display: none;
  }

}
