%font--default {
  font-family: 'Lora', Helvetica, Arial, sans-serif;
}

%font--fancy {
  //font-family: 'Lora', Helvetica, Arial, sans-serif;
  //font-family: 'Vollkorn', Helvetica, Arial, sans-serif;
  font-family: 'Droid Serif', Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

h1, h2, h3, h4, h5, h6 {
  @extend %font--fancy;
}

body {
  @extend %font--default;
  font-size: 16px;
  color: #{map_get($colours, default)};
}

strong {
  font-weight: 700;
}

.align-center {
  text-align: center;
}

.title--major {
  @extend %font--fancy;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3em;

  &.strong {
    font-weight: 700;
  }

}

.title--article {
  font-size: 50px;
  font-weight: 300;
}

.title--label {
  color: rgba(255,255,255,0.3);
  font-size: 17px;
  font-weight: 700;
}

// Text

.text--desc {
  color: rgba(255,255,255,0.76);
  line-height: 1.8em;
}

.text--major {
  font-size: 1.6em;
}

.text--medium {
  font-size: 1.3em;
  line-height: 1.35em;
}

.text--average {
  font-size: 1.15em;
  line-height: 1.3em;
}

.text--small {
  font-size: .95em;
}

// Anchors

.anchor--block {
  @extend .clearfix;
  font-size: 16px;

  $icon-height: 26px;
  .icon {
    float: left;
    display: inline-block;
    background-color: rgba(255,255,255,0.17);
    color: #000000;
    width: $icon-height;
    height: $icon-height;
    text-align: center;
    line-height: $icon-height;
  }

  .text {
    color: rgba(255,255,255,0.41);
    font-size: 14px;
    float: left;
    display: inline-block;
    height: $icon-height;
    line-height: $icon-height - 2px;
    border-bottom: 3px solid rgba(255,255,255,0.17);
    padding: 0 6px;
    font-weight: 500;
  }

}

.anchor--download {
  color: #{map_get($colours, light)};
  font-size: 14px;
  font-weight: 700;
  position: relative;
  padding-bottom: 3px;

  &:hover {
    text-decoration: none;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: lighten(map_get($colours, light), 15);
  }

}

.anchor--button {
  @include transition(color 200ms ease);
  @include box-shadow(0, 0, 6px, rgba(0,0,0,0.05));
  @extend %font--fancy;
  //@include border-radius(2px);
  display: inline-block;
  //background-color: #ffffff;
  //@include gradient(#ffffff, #fcfcfc);
  border: 1px solid #ffffff;
  font-size: 15px;
  padding: 9px 10px 8px 10px;
  //font-weight: 700;
  font-style: italic;
  color: darken(map_get($colours, light), 5);
  text-transform: uppercase;
  letter-spacing: 1px;

  &:active {
    @include gradient(#fbfbfb, #fcfcfc);
  }

  &:hover {
    color: darken(map_get($colours, light), 25);
    text-decoration: none;
  }

}
