.intro-banner {
  @include box-shadow(0, 5px, 20px, 2px, rgba(0,0,0,0.05));
  background-color: #ffffff;
  padding: 32px 0;
  margin-bottom: 2000px;
}

  .intro-banner__main-line {
    padding-top: 10px;
  }

  .intro-banner__main-content {
    @extend .clearfix;
  }

    .intro-banner__additional-text {
      float: left;
      margin-top: 12px;
      max-width: 480px;

      p {
        margin-top: 10px;
      }

    }

    .intro-banner__lists {
      background-color: #fafafa;
      @include gradient(#f4f4f4, #fafafa);
      float: right;
      padding: 20px;
      @include box-shadow(0, 5px, 14px, 2px, rgba(0,0,0,0.02));
      //width: 390px;
      height: 180px;
      position: relative;
      bottom: -60px;
    }

      .intro-banner__lists__col {
        float: left;
        margin-right: 40px;
        position: relative;
        top: -54px;
        left: -10px;

        &:last-of-type {
          margin-right: 0;
        }

        h4 {
          color: #4F4F4F;
          font-weight: 700;
          text-transform: uppercase;
          padding-left: 8px;
        }

      }

.tags-list {

  > li {
    margin-top: 7px;
  }

  span {
    @include box-shadow(0, 0, 16px, rgba(0,0,0,0.05));
    display: inline-block;
    background-color: #ffffff;
    color: #999999;
    font-weight: 700;
    padding: 9px 11px;
    font-size: 17px;
  }

}
