.site-into {
  padding: 250px 0;
  position: relative;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 302px;
    margin-left: -151px;
    background-color: #F9F9F9;
    z-index: -1;
  }

}
