.social-icons {
  color: #{map_get($colours, light)};
  cursor: default;
  font-size: 18px;
  margin: 18px 0;
  padding-left: 10px;

  a {
    @include transition(all 150ms ease);
    cursor: pointer;
    display: inline-block;

    &:hover {
      color: darken(map_get($colours, light), 20);
      text-decoration: none;
    }

    &:active {
      transform: translateY(1px);
    }

  }

  .icon {

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: translateY(1px);
    }

  }

  .email {
    font-weight: 500;
    margin-left: 4px;
  }

}
